<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }} {{ site.description }} {% endif %}" />
    <meta property="og:locale" content="pt-BR" />
    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }} {{ site.description }} {% endif %}</title>
    <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
    <meta property="og:description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}" />
    <meta property="og:site_name" content="Paulo Dutra" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | absolute_url }}" />
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
    <link rel="icon" type="image/png" href="{{ site.url }}/assets/img/site/favicon-paulo-dutra.png" />
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,600"> 
    <link rel="stylesheet" href={{ "/assets/css/main.css | prepend: site.baseurl" }}>
    <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">

   
</head>
